https://leetcode.com/problems/multiply-strings/

In [3]:
ord('0')

48

In [2]:
ord('9')

57

In [5]:
ord('9') - 48

9

In [6]:
tuple('2323')

('2', '3', '2', '3')

In [9]:
list("123")

['1', '2', '3']

In [12]:
tuple(reversed('123'))

('3', '2', '1')

In [13]:
next(reversed('123'))

'3'

### 暴力解
```
Input: num1 = "123", num2 = "456"
Output: "56088"
```

`[3,2,1] > [3,20,100]`

In [61]:
def brute_multiply(num1: str, num2: str) -> str:
    def str_to_int(num):
        reversed_num = reversed(num)
        reversed_num_ints = [ord(i) - 48 for i in reversed_num]
        num_in_int = sum(
            [n * (10**i) for i, n in enumerate(reversed_num_ints)])
        return num_in_int
    num1_int = str_to_int(num1)
    num2_int = str_to_int(num2)
    return str(num1_int * num2_int)

In [59]:
def brute_multiply_try(num1: str, num2: str) -> str:
    def str_to_int(num):
        reversed_num = reversed(num)
        reversed_num_ints = [ord(i) - 48 for i in reversed_num]
        print(reversed_num_ints)
        num_in_int = sum(
            [n * (10**i) for i, n in enumerate(reversed_num_ints)])
        return num_in_int

    num1_int = str_to_int(num1)
    print(num1_int)
    num2_int = str_to_int(num2)
    print(num2_int)
    return str(num1_int * num2_int)

In [62]:
brute_multiply('3233','99')

'320067'

In [15]:
[ord(i) - ord('0') for i in ['1','2','3']]

[1, 2, 3]

In [35]:
[ord(i) - ord('0') for i in ['3','3','3']]

[3, 3, 3]

In [16]:
lst = [1,2,3]

In [37]:
lst2 = [3,3,3]

In [24]:
[i*(10**lst.index(i)) for i in lst]

[1, 20, 300]

In [51]:
[i*(10**lst2.index(i)) for i in lst2]

[3, 3, 3]

In [58]:
[n*(10**i) for i,n in enumerate(lst2)]

[3, 30, 300]

In [25]:
sum([i*(10**lst.index(i)) for i in lst])

321